USE [master]
GO
/****** Объект:  Database [bookshop]    Дата создания скрипта: 25.05.2026 19:07:03 ******/ 
CREATE DATABASE [bookshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bookshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\bookshop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bookshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\bookshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bookshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bookshop]
GO
/****** Объект:  Table [dbo].[Book_category]    Дата создания скрипта: 25.05.2026 19:07:03 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_category](
	[ID_book] [uniqueidentifier] NOT NULL,
	[ID_category] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Books]    Дата создания скрипта: 25.05.2026 19:07:03 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[ID_books] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Author] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Published_date] [datetime] NULL,
 CONSTRAINT [PK_Books_1] PRIMARY KEY CLUSTERED 
(
	[ID_books] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Category]    Дата создания скрипта: 25.05.2026 19:07:03 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID_category] [uniqueidentifier] NOT NULL,
	[Category_name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category_1] PRIMARY KEY CLUSTERED 
(
	[ID_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Order_books]    Дата создания скрипта: 25.05.2026 19:07:03 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_books](
	[ID_order_book] [uniqueidentifier] NOT NULL,
	[ID_order] [uniqueidentifier] NOT NULL,
	[ID_book] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit_price] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_Order_books_1] PRIMARY KEY CLUSTERED 
(
	[ID_order_book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Orders]    Дата создания скрипта: 25.05.2026 19:07:03 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID_orders] [uniqueidentifier] NOT NULL,
	[ID_user] [uniqueidentifier] NOT NULL,
	[Order_date] [datetime] NOT NULL,
	[Total_amount] [decimal](12, 2) NOT NULL,
	[Is_paid] [bit] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID_orders] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 25.05.2026 19:07:03 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID_user] [uniqueidentifier] NOT NULL,
	[Full_name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [IX_Email_Index]    Дата создания скрипта: 25.05.2026 19:07:03 ******/ 
CREATE UNIQUE NONCLUSTERED INDEX [IX_Email_Index] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book_category]  WITH CHECK ADD  CONSTRAINT [FK_Book_category_Books] FOREIGN KEY([ID_book])
REFERENCES [dbo].[Books] ([ID_books])
GO
ALTER TABLE [dbo].[Book_category] CHECK CONSTRAINT [FK_Book_category_Books]
GO
ALTER TABLE [dbo].[Book_category]  WITH CHECK ADD  CONSTRAINT [FK_Book_category_Category] FOREIGN KEY([ID_category])
REFERENCES [dbo].[Category] ([ID_category])
GO
ALTER TABLE [dbo].[Book_category] CHECK CONSTRAINT [FK_Book_category_Category]
GO
ALTER TABLE [dbo].[Order_books]  WITH CHECK ADD  CONSTRAINT [FK_Order_books_Books] FOREIGN KEY([ID_book])
REFERENCES [dbo].[Books] ([ID_books])
GO
ALTER TABLE [dbo].[Order_books] CHECK CONSTRAINT [FK_Order_books_Books]
GO
ALTER TABLE [dbo].[Order_books]  WITH CHECK ADD  CONSTRAINT [FK_Order_books_Orders] FOREIGN KEY([ID_order])
REFERENCES [dbo].[Orders] ([ID_orders])
GO
ALTER TABLE [dbo].[Order_books] CHECK CONSTRAINT [FK_Order_books_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([ID_user])
REFERENCES [dbo].[Users] ([ID_user])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
USE [master]
GO
